@font-face {
  font-family: Ikaros;
  src: url(Ikaros-Regular.otf);
}
.title {
  font-weight: bold;
  color: red;
  margin-top: 50px;
  text-align: center;
  font-family: Ikaros;
  font-size: 60px;
  margin-bottom: 45px;
}
h2 {
  font-family: Ikaros;
  color: maroon;
  text-align: center;
  font-size: 28px;
}
p {
  color: white;
  font-family: Ikaros;
  width: 850px;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
  font-size: 18px;
}
body {
  background-image: url(https://i.imgur.com/Nbi7bYI.jpg);
}
