//body {
//  background-color: black;
//}
.title {
  font-weight: bold;
  color: red;
  margin-top: 50px;
  text-align: center;
  font-family: Arial;
  font-size: 50px;
  margin-bottom: 50px;
}
h2 {
  font-family: Arial;
  color: maroon;
  text-align: center;
}
p {
  color: white;
  font-family: Arial;
  width: 850px;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
}
body {
  background-image: url(https://i.imgur.com/Nbi7bYI.jpg);
}
